.projects-section{

padding:100px 0;

}

.project-card{

overflow:hidden;

transition:.35s;

height:100%;

}

.project-card:hover{

transform:translateY(-10px);

border:1px solid var(--primary);

}

.project-card img{

width:100%;

height:150px;

object-fit:cover;

transition:.35s;

}

.project-card:hover img{

transform:scale(1.08);

}

.project-content{

padding:15px;

}

.project-tags{

display:flex;

flex-wrap:wrap;

gap:8px;

margin:12px 0;

}

.project-tags span{

padding:6px 14px;

background:rgba(34,197,94,.15);

border-radius:30px;

font-size:13px;

}

.project-buttons{

display:flex;

gap:15px;

margin-top:25px;

}