.about-section{

padding:25px 0;

}

.section-title{

text-align:center;

margin-bottom:70px;

font-size:48px;

}

.section-title span{

color:var(--primary);

}

.about-image{

max-width:420px;

margin:auto;

}

.about-image img{

border-radius:25px;

border:2px solid var(--primary);

}

.about-section h3{

font-size:34px;

margin-bottom:20px;

}

.about-section p{

color:var(--text);

line-height:1.9;

}

.about-cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-top:35px;

}

.about-card{

padding:25px;

transition:.3s;

}

.about-card:hover{

transform:translateY(-8px);

}   